* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text);
    text-transform: capitalize;
}
:root {
    --main-color: #0f172a;
    --accent-color: #22c55e;
    --background-color: #f1f5f9;
    --main-text: #111827;
    --second-text: #fff;
    --cards: #fff;
    --transition: all ease 0.5s;
}

/* fresh */
@media (max-width: 767px) {
    .container-two {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 768px) {
    .container-two {
        padding-top: 35px;
        padding-left: 35px;
        padding-right: 35px;
    }
}
@media (min-width: 992px) {
    .container-two {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 1200px) {
    .container-two {
        padding-top: 50px;
        padding-left: 75px;
        padding-right: 75px;
    }
}
@media (min-width: 1400px) {
    .container-two {
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
/* end-fresh */
/* header */
.header {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.container-one header {
    background-color: var(--main-color);
    height: 75px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgb(80, 80, 80) 0px 0px 15px 0px;
}
.container-one header .logo {
    text-decoration: none;
    color: var(--second-text);
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 26px;
    transition: var(--transition);
}
.container-one header .links i {
    display: none;
}
.container-one header nav {
    margin-right: 50px;
    border-radius: 7px;
}
.container-one header nav ul {
    display: flex;
}
.container-one header nav ul li {
    list-style: none;
    padding: 10px;
}
.container-one header nav ul li a {
    text-decoration: none;
    color: var(--second-text);
    margin-right: 15px;
    text-transform: uppercase;
    transition: var(--transition);
}
.container-one header nav ul li a:hover,
.container-one header .logo:hover {
    color: var(--accent-color);
}

@media (max-width: 767px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-one header {
        position: relative;
    }
    .container-one header .logo {
        font-size: 22px;
    }
    .container-one header .links:hover nav {
        opacity: 1;
        pointer-events: all;
    }
    .container-one header .links {
        margin-right: 50px;
    }
    .container-one header .links i {
        display: inline-block;
    }
    .container-one header nav {
        background-color: #111827bb;
        position: absolute;
        right: 0;
        left: 0;
        top: 75px;
        margin: 0;
        opacity: 0;
        pointer-events: none;
    }
    .container-one header nav ul {
        flex-wrap: wrap;
        padding: 10px 0px;
    }
    .container-one header nav ul li {
        width: 100%;
        border-bottom: rgb(180, 180, 180) 1px solid;
        padding-left: 20px;
    }
    .container-one header nav ul li:last-child {
        border-bottom: none;
    }
    .container-one header nav ul li a {
        display: inline-block;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .container-one header .logo {
        padding-left: 75px;
    }
    .container-one header nav {
        padding-right: 75px;
    }
}
/* home-section */

.home {
    height: 100vh;
    color: var(--second-text);
    position: relative;
    display: flex;
    align-items: center;
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/gym-background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
}
.home .container-two .home-text h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 35px;
    animation-name: home-texts;
    animation-duration: 1s;
    animation-direction: alternate;
}
.home .container-two .home-text h1 span {
    color: var(--accent-color);
}
.home .container-two .home-text p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    animation: home-texts 1.5s;
}
.home .container-two .home-button {
    margin-top: 35px;
    animation: home-texts 2s;
}
.home .container-two .home-button a {
    text-decoration: none;
    color: var(--second-text);
    border: solid 1px var(--accent-color);
    padding: 10px;
    border-radius: 7px;
    transition: var(--transition);
}
.home .container-two .home-button a:hover {
    background-color: var(--accent-color);
}

@keyframes home-texts {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@media (max-width: 767px) {
    .home .container-two .home-text {
        text-align: center;
    }
    .home .container-two .home-button {
        text-align: center;
    }
}
