* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", "Inter", sans-serif;
    background-color: var(--background-color);
    color: var(--main-text);
    text-transform: capitalize;
}
:root {
    --main-color: #0f172a;
    --accent-color: #22c55e;
    --background-color: #f1f5f9;
    --main-text: #111827;
    --second-text: #fff;
    --cards: #fff;
    --transition: all ease 0.5s;
    --box-shadow: rgb(100, 100, 100) 0px 0px 10px 0px;
    --second-box-shadow:rgb(150, 150, 150) 0px 0px 10px 0px;
}

/* fresh */
@media (max-width: 767px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        width: 100%;
        padding: 30px;
    }
}
@media (min-width: 768px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        width: 100%;
        padding: 35px;
    }
}
@media (min-width: 992px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        width: 100%;
        padding: 50px;
    }
}
@media (min-width: 1200px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        width: 100%;
        padding-top: 50px;
        padding-left: 75px;
        padding-right: 75px;
        padding-bottom: 50px;
    }
}
@media (min-width: 1400px) {
    .container-two,
    .container-three,
    .container-four,
    .container-five,
    .container-six {
        width: 100%;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
    }
}
/* end-fresh */
/* header */
.header {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.container-one header {
    background-color: transparent;
    height: 75px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--background-color);
    box-shadow: rgb(50, 50, 50) 0px 0px 10px 0px;
    filter: blur(10%);
}
.container-one header .logo {
    text-decoration: none;
    color: var(--second-text);
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 26px;
    transition: var(--transition);
}
.container-one header .links i {
    display: none;
}
.container-one header nav {
    margin-right: 50px;
    border-radius: 7px;
}
.container-one header nav ul {
    display: flex;
}
.container-one header nav ul li {
    list-style: none;
    padding: 10px;
}
.container-one header nav ul li a {
    text-decoration: none;
    color: var(--second-text);
    margin-right: 15px;
    text-transform: uppercase;
    transition: var(--transition);
}
.container-one header nav ul li a:hover,
.container-one header .logo:hover {
    color: var(--accent-color);
}

@media (max-width: 767px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-one header {
        position: relative;
    }
    .container-one header .logo {
        font-size: 22px;
    }
    .container-one header .links:hover nav {
        opacity: 1;
        pointer-events: all;
    }
    .container-one header .links {
        margin-right: 50px;
    }
    .container-one header .links i {
        display: inline-block;
    }
    .container-one header nav {
        background-color: #111827bb;
        position: absolute;
        right: 0;
        left: 0;
        top: 75px;
        margin: 0;
        opacity: 0;
        pointer-events: none;
    }
    .container-one header nav ul {
        flex-wrap: wrap;
        padding: 10px 0px;
    }
    .container-one header nav ul li {
        width: 100%;
        border-bottom: rgb(180, 180, 180) 1px solid;
        padding-left: 20px;
    }
    .container-one header nav ul li:last-child {
        border-bottom: none;
    }
    .container-one header nav ul li a {
        display: inline-block;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .container-one {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {
    .container-one header .logo {
        padding-left: 75px;
    }
    .container-one header nav {
        padding-right: 75px;
    }
}
/* home-section */

.home {
    height: 100vh;
    color: var(--second-text);
    position: relative;
    display: flex;
    align-items: center;
}
.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/gym-background.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    filter: brightness(50%);
}
.home .container-two .home-text h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 35px;
    animation-name: home-texts;
    animation-duration: 1s;
    animation-direction: alternate;
}
.home .container-two .home-text h1 span {
    color: var(--accent-color);
}
.home .container-two .home-text p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.5;
    animation: home-texts 1.5s;
}
.home .container-two .home-button {
    margin-top: 35px;
    animation: home-texts 2s;
}
.home .container-two .home-button a {
    text-decoration: none;
    color: var(--second-text);
    border: solid 1px var(--accent-color);
    padding: 10px;
    border-radius: 7px;
    transition: var(--transition);
}
.home .container-two .home-button a:hover {
    background-color: var(--accent-color);
}

@keyframes home-texts {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@media (max-width: 767px) {
    .home .container-two .home-text {
        text-align: center;
    }
    .home .container-two .home-button {
        text-align: center;
    }
}

/* about-section */

.container-three .about-text {
    padding-bottom: 75px;
}
.container-three .about-text h2 {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 30px;
}
.container-three .about-text p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
.container-three .about-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "one one one two two two" "one one one three three three";
    gap: 20px;
}
.container-three .about-cards .card-one {
    border: 2px solid var(--main-color);
    grid-area: one;
    overflow: hidden;
    border-radius: 7px;
    transition: var(--transition);
}
.container-three .about-cards .card-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.container-three .about-cards .card-two {
    border: 2px solid var(--main-color);
    grid-area: two;
    padding: 30px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 7px;
    transition: var(--transition);
}
.container-three .about-cards .card-three {
    border: 2px solid var(--main-color);
    grid-area: three;
    padding: 30px;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 7px;
    transition: var(--transition);
}
.container-three .about-cards .card-one:hover,
.container-three .about-cards .card-two:hover,
.container-three .about-cards .card-three:hover {
    transform: scale(1.03);
    box-shadow: var(--box-shadow);
}
.container-three .about-cards .card-two h3,
.container-three .about-cards .card-three h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.container-three .about-cards .card-two p,
.container-three .about-cards .card-three li {
    font-weight: bold;
    position: relative;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .container-three .about-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "one one" "two two" "three three";
        grid-template-rows: 300px auto auto;
    }
}
@media (min-width: 768px) {
    .container-three .about-cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: "one one" "two three";
    }
}
@media (min-width: 1200px) {
    .container-three .about-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: "one one one two two two" "one one one three three three";
    }
}

/* plans-section */

.plans {
    background-color: var(--main-color);
}
.container-four .plans-text {
    color: var(--second-text);
    padding-bottom: 50px;
}
.container-four .plans-text h2 {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 10px;
}
.container-four .plans-text p {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
}
.container-four .plans-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 30px;
}
.container-four .plans-box .plan {
    background-color: var(--cards);
    padding: 15px;
    border-radius: 4px;
    transition: var(--transition);
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.container-four .plans-box .plan:hover {
    transform: translateY(-10px);
    box-shadow: var(--second-box-shadow);
}
.container-four .plans-box .plan .suggested-flag {
    transform: rotate(40deg);
    width: fit-content;
    position: absolute;
    right: -28px;
    top: 25px;
}
.container-four .plans-box .plan .suggested-flag span {
    font-weight: bold;
    background-color: var(--accent-color);
    padding: 7px 25px;
    color: var(--second-text);
    text-transform: uppercase;
}
.container-four .plans-box .plan .price {
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;

}
.container-four .plans-box .plan .price p {
    font-size: 25px;
    padding-bottom: 5px;
}
.container-four .plans-box .plan .price span {
    font-size: 22px;
}
.container-four .plans-box .plan .description {
    padding-bottom: 15px;
}
.container-four .plans-box .plan .description ul li {
    padding: 20px 0px;
    list-style: none;
    font-weight: bold;
    border-bottom: rgb(50, 50, 50) solid 1px;
}
.container-four .plans-box .plan .plan-button {
    text-align: center;
    padding: 20px 0px;
}
.container-four .plans-box .plan .plan-button a {
    text-decoration: none;
    color: var(--main-color);
    border: var(--accent-color) solid 1px;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: var(--transition);
}
.container-four .plans-box .plan .plan-button a:hover {
    color: var(--second-text);
}
.container-four .plans-box .plan .plan-button a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    background-color: var(--accent-color);
    z-index: -1;
    border-radius: 4px;
    transition: var(--transition);
}
.container-four .plans-box .plan .plan-button a:hover::before {
    right: 0%;
}

@media (max-width: 767px) {
    .container-four .plans-box {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 768px) {
    .container-four .plans-box {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 992px) {
    .container-four .plans-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* schedule-section */
.container-five {
    color: var(--second-text);
}
.container-five .schedule-text {
    padding-bottom: 50px;
    color: var(--main-text);
}
.container-five .schedule-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.container-five .schedule-text p {
    font-weight: bold;
    font-size: 18px;
}
.container-five .schedule-box .schedule-side table {
    border-spacing: 2px;
    text-align: left;
    
}
.container-five .schedule-box .schedule-side table thead {
    background-color: var(--main-color);
    border-radius: 7px;
    color: var(--second-text);
    box-shadow: var(--second-box-shadow);
    text-align: center;
    font-weight: bold;
}
.container-five .schedule-box .schedule-side table tr td {
    border-radius: 4px;
    padding: 10px;
}
.container-five .schedule-box .schedule-side table tbody {
    background-color: var(--cards);
    color: var(--main-text);
    box-shadow: var(--second-box-shadow);
}
.container-five .schedule-box .schedule-side table tbody tr td:first-of-type {
    background-color: var(--main-color);
    color: var(--second-text);
    font-weight: bold;
    text-align: center;
}

@media (max-width: 767px) {
    .container-five .schedule-box .schedule-side table thead {
        display: none;
    }
    .container-five table tbody tr td {
        display: block;
        border-bottom: black 1px solid;
    }
}
@media (min-width: 768px) and (max-width:921px) {
    .container-five .schedule-box .schedule-side table thead {
        display: none;
    }
    .container-five table tbody tr td {
        display: block;
        border-bottom: black 1px solid;
    }
}

/* tips-section */

.tips {
    position: relative;
    height: 60vh;
    color: var(--second-text);
    display: flex;
    align-items: center;
}
.tips::before {
    content: "";
    position: absolute;
    background: url(images/gym-background-tips.jpg) no-repeat ;
    background-size: cover;
    top: 0;
    right: 0;
    height: 60vh;
    width: 100%;
    z-index: -1;
    filter: brightness(40%);
}
.container-six {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-six .tips-text {
    text-align: center;
}
.container-six .tips-text h2 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}
.container-six .tips-text p {
    font-weight: bold;
    opacity: 0.9;
}

/* contact-us-section */

.tips {
    display: flex;
    flex-wrap: wrap;
}
.container-seven {
    width: 100%;
}
.container-seven .contact-box {
    display: flex;
    justify-content: space-between;
}
.container-seven .contact-box .left-side {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    padding-top: 50px;
}
.container-seven .contact-box .left-side form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
}
.container-seven .contact-box .left-side form input {
    width: 350px;
    padding: 10px;
    height: 50px;
    margin-bottom: 25px;
    outline: none;
}
.container-seven .contact-box .left-side form span {
    padding-bottom: 10px;
    display: inline-block;
}
.container-seven .contact-box .left-side form textarea {
    width: 350px;
    margin-bottom: 25px;
    height: 100px;
    outline: none;
    padding: 10px;
}
.container-seven .contact-box .left-side form .submit {
    background-color: var(--accent-color);
    border: none;
    color: var(--second-text);
    text-transform: capitalize;
    cursor: pointer;
}
.container-seven .contact-box .right-side {
    background-color: var(--accent-color);
    width: 45%;
    padding: 15px;
    color: var(--second-text);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.container-seven .contact-box .right-side::before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    transform: translate(-80%, -50%);
    background-color: transparent;
    border-color: transparent var(--accent-color) transparent transparent;
    border-width: 25px;
    border-style: solid;
}
.container-seven .contact-box .right-side .right-text {
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
    font-size: 25px;
    position: relative;
}
.container-seven .contact-box .right-side .information-links .location,
.container-seven .contact-box .right-side .information-links .email,
.container-seven .contact-box .right-side .information-links .phone-number {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}
.container-seven .contact-box .right-side .information-links .location i,
.container-seven .contact-box .right-side .information-links .email i,
.container-seven .contact-box .right-side .information-links .phone-number i {
    padding-bottom: 25px;
}
.container-seven .contact-box .right-side .information-links .location a,
.container-seven .contact-box .right-side .information-links .email a,
.container-seven .contact-box .right-side .information-links .phone-number a {
    color: var(--second-text);
}

@media (max-width: 767px) {
    .container-seven .contact-box {
        flex-wrap: wrap;
    }
    .container-seven .contact-box .left-side,
    .container-seven .contact-box .right-side {
        width: 100%;
    }
    .container-seven .contact-box .left-side form {
        width: 300px;
    }
    .container-seven .contact-box .left-side form input,
    .container-seven .contact-box .left-side form textarea {
        width: 300px;
    }
}